* {
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  html {
      width: auto;
      
      
  }
  
  body {
    font-size: 24px;
    line-height: 32px;
    color: #333;
    height: 100%;
    
  }
#container {
    min-height: 100%



}

#main {
    overflow: auto;
    padding-bottom: 20px;

}
  
  header {
    padding: 0px;
    margin-bottom: 20px;
    color: #333;
    background: #fff;
    clear: both;
    overflow: auto;
    width: 100%;
    height: 155px;
    position: relative;
    border-bottom: 4px solid #cccccc;
   
    
  }

  nav {

    float: right;
    width: 12.7%;
    height: 75px;
    padding: 0px;
    margin-right: 205px;
    
  }

  
 ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center; 
    text-decoration: none;
    overflow: hidden;
  }
  
  li a:hover {
    background-color: #4aaaa5;
    
    
  }

.insideheader {
    float: left;
    width: 15%;
    height: 150px;
    padding-top: 20px;
    margin-left: 205px;
    background: #4aaaa5;
    font-size: 25px;
    color: white;
    border-radius: 45%;
    
  }

.andrew {
    margin-top: 40px;
    font-size: 44px;
}

  section {
    padding: 20px;
    margin-bottom: 20px;
    
    
  }
  
  #maincontent {
    overflow: auto;
    clear: both;
    color: black;
    background: white;
    border: 3px solid #dddddd;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    margin-bottom: 10%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15%;
    width: 960px;
    
    
  }

  .aboutme {position: absolute;
    left: 0;
    top: 0;
    border-bottom: double #4aaaa5 8px;
    width: 100%;  
    padding-top: 5px;  
    padding-bottom: 5px;
    
      }
  
  #textinaboutme { color: #4aaaa5;
                    font-size: 45px;
                
                    padding: 5px;
                    
                    padding: 5px;
                    
                    
                
                    

  }
  #division {
    padding: 20px;
    margin-top: 20px;
    background: #214fb3;
  }
  
  aside {
    float: left;
    padding: 10px;
    overflow: auto;
    clear: left;

  }


  p {
    margin-top: 35px;
    padding: 10px;
        


}
  .image{
    width: 150px;
    height: 150px;
    margin-top: 35px;
    


  }


  footer {
    background: #666666;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    color: white;
    font-size: 25px;
    text-align: center;
    border-top: 6px solid #4aaaa5;
  }
  
 #contact{  background-color: #fff;
            border: 3px solid #dddddd;
            margin-top: 100px;
            margin-left: 25%;
            margin-right: 25%;
            border-radius: 15%;
            width: 960px;


 }
  .form-group {
    margin-bottom: 1rem;
  }

  .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  h3 { 
       border-bottom: double 6px #4aaaa5;
       color: #4aaaa5;
       font-weight: normal;
       font-size: 45px;
       padding: 10px;

  }